<!--The content below is only a placeholder and can be replaced.-->
<h3>English Monarhs</h3>

<div class="container">
  <div class="row">
    <div class="col-sm">monarch</div>
    <div class="col-sm">house</div>
    <div class="col-sm">reign</div>
    <div class="col-sm">issue</div>
  </div>
  <div class="row border-top" *ngFor="let monarch of monarchs" data-monarch>
    <div class="col-sm" data-name>{{monarch.name}}</div>
    <div class="col-sm" data-house>{{monarch.house}}</div>
    <div class="col-sm" data-reign>{{monarch.reign}}</div>
    <div class="col-sm" data-issue>
      <div class="row" *ngFor="let issue of monarch.issue">{{issue}}</div>
    </div>
  </div>
</div>
